@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'base/typography.scss';


@media screen and (min-width: 1500px) {
  .edit-post-visual-editor__post-title-wrapper, .wp-block-post-content > * {
    width: 1280px;
    margin: 0 auto;
  }
  .wp-block-group{
    width: 100%;

  }
}
